<div id="header">
  <h1><%= @list.name %></h1>
  <h2>Select movies to add to this list:</h2>
</div>

<div class="d-flex m-3 movies-list">
  <% @movies.each do |movie| %>
    <div class="d-flex w-100">
      <div class="movie-info">
        <%= image_tag "#{movie.poster_url}", alt: "#{movie.title}", class: "m-3" , width: "200px"%>
        <h4><%= movie.title %></h4>
        <p><strong><%= movie.rating %></strong></p>
        <input type="submit" value="Add + " class="btn btn-info" >
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Back", root_path, class: "btn btn-primary"%>
